/* ----------------------- */
/*       Main styles       */
/* ----------------------- */

/* Global styles */
body {
    font-family: -apple-system, sans-serif;
    text-align: center;
}

/* Section styles */
header {
    background-color: #6c757d;
    padding: 25px 25px;
}

.projects {
    background-color: white;
    padding: 35px 15px;
}

.about {
    background-color: #333333;
    color: white;
    padding: 35px 15px;
}

.process {
    background-color: #333333;
    color: white;
    padding: 35px 15px;
}

footer {
    background-color: #F6F6F6;
    padding: 50px 15px;
    text-align: center;
    font-weight: 700;
}

.photo {
    border-radius: 1000px;
}

/* Heading styles */
h1 {
    color: ghostwhite;
    font-size: 2.3em;
    font-weight: 900;
    text-align: center;
    line-height: 1em;
    text-shadow: 0 1px 4px rgba(0,0,0,0.35);  
    margin: 15px 0 5px 0;
    text-transform: uppercase;    
}

h2 {
    color: ghostwhite;
    font-size: 1.15em;
    font-weight: 700;
    text-align: center;
    margin: 5px 0 10px 0;
}

h3 {
    font-size: 1.4em;
    font-weight: 900;
    text-align: center;
    margin: 10px 0 10px 0;
    text-transform: uppercase;
}

h4 {
    line-height:40px;
     display:inline-block;
    font-size: 1.15em;
    padding:.5em 1em 0.5em 1em;
    font-weight: 600;
    background-color: black;
    text-transform: uppercase;
    color: ghostwhite;
        
}


/* Project tile styles */
.project {
    background-size: cover;
    background-color: rgba(0,0,0,0.6);
    background-blend-mode: luminosity;
    margin: 12px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 2px grey;
    min-height: 100px;
}

.project:hover {
    transform: scale(1.02);
    transition: all 0.2s;
}

.project:focus {
    transform: scale(1.02);
    transition: all 0.2s;
}


/* Button styles */
.btn-primary {
    color: white;
    background: #333333;
    border-radius: 50px;
    border: none;
    margin: 20px 0;
    padding: 10px 16px;
    text-align: center;
    font-size: 1em;
    font-weight: 700;
    text-decoration: none;
    vertical-align: middle;
    transition: all 0.2s;    
}

.btn-primary:hover {
    transform: scale(1.03);
    transition: all 0.2s;
    background: white;
    color: black;    
    text-decoration: none;
}


/* Link styles */
a {
    color: #4FBDD2;
    text-decoration: underline;
}

a:hover {
    color: #69BCCE;
    text-decoration: none;
}